<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Node</title>
</head>
<body>
    <h2>Registrar</h2>

    <form action="/show" method="post">
    <input type="text" name="title" id="" placeholder="Titulo">
    <input type="text" name="text" id="" placeholder="Texto">
    <button type="submit">Enviar</button>
    </form>
</body>
</html>